h1 {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400px; }

h2 {
  font-family: Roboto, Helvetica, sans-serif; }

h3 {
  font-family: Roboto, Helvetica, sans-serif; }

h4 {
  font-family: Roboto, Helvetica, sans-serif; }

h5 {
  font-family: Roboto, Helvetica, sans-serif; }

h6 {
  font-family: Roboto, Helvetica, sans-serif; }

li a {
  font-weight: 300 !important;
  font-family: Roboto, Helvetica, sans-serif !important; }

h6 {
  font-weight: 360;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: italic; }

div {
  font-weight: 300;
  font-family: Roboto, Helvetica, sans-serif; }

.border-wrapper-div {
  border-bottom: 2px solid rgba(255, 174, 66, 0.4);
  height: 15px; }
  .border-wrapper-div span {
    font-weight: 450;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: white;
    padding: 10px; }

.floater-div {
  font-weight: 300;
  font-family: Roboto, Helvetica, sans-serif; }

@media (min-width: 768px) {
  .addscrollatY {
    overflow-y: scroll;
    height: 700px; } }
